.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
.grow-1 {
  flex-grow: 1;
}
.container {
  max-width: 1520px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
};
@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}

.screen-hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .screen-hide {
    display: block;
  }
}

.mobile-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-hide {
    display: block;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.m-r {
  margin-right: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}