.styled-scrollbars {
  width: thin;
  scrollbar-color: #D0D3D9 #fff;
}

.styled-scrollbars::-webkit-scrollbar {
  width: thin;
  /* Mostly for vertical scrollbars */
  /* Mostly for horizontal scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999;
}

.styled-scrollbars::-webkit-scrollbar-track {
  /* Background */
  border: 0;
}